on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull image from ghcr.io
        run: docker pull ghcr.io/tmck-code/pokesay:latest
      - name: Build go binary assets
        run: docker run -v ${PWD}:/usr/local/src ghcr.io/tmck-code/pokesay:latest ./build/scripts/build_assets.sh
      - name: Build go binaries
        run: docker run -v ${PWD}:/usr/local/src ghcr.io/tmck-code/pokesay:latest ./build/scripts/build_bin.sh
      - name: Check build
        run: ls -alh build/bin
      - name: Test build
        run: echo w | ./build/bin/pokesay-linux-amd64
      - name: Run unit tests
        run: docker run -v ${PWD}:/usr/local/src ghcr.io/tmck-code/pokesay:latest gotestsum --format dots

